<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Apology</title>
</head>
<body>

<div id="bookingMessage">
  <h1>We apologize for the inconvenience, but on Fridays, we are usually very busy and may not be able to accommodate bookings for more than 10 guests. Please consider an alternative day or reduce the number of guests. Thank you for your understanding.
  Return to the booking page from <a th:href="@{/booking}">here</a> or return to <a th:href="@{/}">home page</a>.</h1>
</div>

</body>
</html>
