<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>Domani restaurant</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body cz-shortcut-listen="true">

   <th:block th:insert="~{fragments/navbar}"></th:block>


    <section id="welcome" class="welcome d-flex section-bg">
      <div class="container">
        <div class="row justify-content-between gy-5">
          <div
            class="col-lg-5 order-2 order-lg-1 d-flex flex-column align-items-lg-start text-lg-start"
          >
            <h1>Welcome to Domani restaurant</h1>
            <p>
              Experience the finest food, and beautiful atmospheres to make
              every dining occasion memorable.
            </p>
            <p>
              Our team, led by renowned chefs, crafts each dish with precision,
              love, and the freshest of ingredients. We believe in the power of
              food to bring people together, to celebrate, to console, and to
              create memories. At Domani restaurant, every bite tells a story.
            </p>
              <div class="button-container">
                  <a th:href="@{/menu}" class="btn button view-menu">View Menu</a>
                  <a th:href="@{/booking}" class="btn button book-table">Book a Table</a>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section class="special-menus">
      <h2>Our menu</h2>
      <div id="menu-items" class="menu-items"></div>
    </section>
    <script src="/js/our-menu.js"></script>

    <th:block th:insert="~{fragments/footer}"></th:block>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      rel="stylesheet"
    />
  </body>
</html>
