<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Restaurant Menu</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <th:block th:insert="~{fragments/navbar}"></th:block>
    <div class="container menu-section">
        <h1 class="menu-title">Our Menu</h1>
        <div class="menu-categories">
            <button class="btn btn-dark active" data-filter="*">All</button>
            <button class="btn btn-outline-dark" data-filter=".breakfast">Breakfast</button>
            <button class="btn btn-outline-dark" data-filter=".lunch">Lunch</button>
            <button class="btn btn-outline-dark" data-filter=".dinner">Dinner</button>
            <button class="btn btn-outline-dark" data-filter=".dessert">Dessert</button>
            <button class="btn btn-outline-dark" data-filter=".pizza">Pizza</button>
        </div>
        <section class="special-menus">


            <div class="menu-items">
                <div class="menu-item breakfast" th:each="breakfast : ${breakfastProducts}">
                    <img th:src="@{${breakfast.imageUrl}}" class="menu-img" alt="Breakfast Item">
                    <div class="menu-info">
                        <h5 th:text="${breakfast.name}">Breakfast Item Name</h5>
                        <span class="price" th:text="${breakfast.price}">8.00</span>
                        <p th:text="${breakfast.description}">Description of the breakfast item.</p>
                        <form th:action="@{/cart/add}" method="post" th:object="${cartItem}" sec:authorize="isAuthenticated()">
                            <input type="hidden" name="productId" th:value="${breakfast.getProductId()}"/>
                            <input type="hidden" name="category"/>
                            <label for="breakfast">Quantity:</label>
                            <input type="number" id="breakfast" name="quantity" value="1" min="1" max="10"/>
                            <button type="submit" class="btn btn-info">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="menu-items">
            <div class="menu-item lunch" th:each="lunch : ${lunchProducts}">
                <img th:src="@{${lunch.getImageUrl()}}" class="menu-img" alt="Lunch Item">
                <div class="menu-info">
                    <h5 th:text="${lunch.getName()}">Lunch Item Name</h5>
                    <span class="price" th:text="${lunch.getPrice()}">12.00</span>
                    <p th:text="${lunch.getDescription()}">Description of the lunch item.</p>
                    <form th:action="@{/cart/add}" method="post" th:object="${cartItem}" sec:authorize="isAuthenticated()">
                        <input type="hidden" name="productId" th:value="${lunch.getProductId()}" />
                        <input type="hidden" name="category"/>
                        <label for="lunch">Quantity:</label>
                        <input type="number" id="lunch" name="quantity" value="1" min="1" max="10"/>
                        <button type="submit" class="btn btn-info">Add to Cart</button>
                    </form>
                </div>
            </div>
            </div>

            <div class="menu-items">
            <div class="menu-item dinner" th:each="dinner : ${dinnerProducts}">
                <img th:src="@{${dinner.getImageUrl()}}" class="menu-img" alt="Dinner Item">
                <div class="menu-info">
                    <h5 th:text="${dinner.getName()}">Dinner Item Name</h5>
                    <span class="price" th:text="${dinner.getPrice()}">15.00</span>
                    <p th:text="${dinner.getDescription()}">Description of the dinner item.</p>
                    <form th:action="@{/cart/add}" method="post" th:object="${cartItem}" sec:authorize="isAuthenticated()">
                        <input type="hidden" name="productId" th:value="${dinner.getProductId()}" />
                        <input type="hidden" name="category"/>
                        <label for="dinner">Quantity:</label>
                        <input type="number" id="dinner" name="quantity" value="1" min="1" max="10"/>
                        <button type="submit" class="btn btn-info">Add to Cart</button>
                    </form>
                </div>
            </div>
            </div>

            <div class="menu-items">
            <div class="menu-item dessert" th:each="dessert : ${dessertProducts}">
                <img th:src="@{${dessert.getImageUrl()}}" class="menu-img" alt="Dessert Item">
                <div class="menu-info">
                    <h5 th:text="${dessert.getName()}">Dessert Item Name</h5>
                    <span class="price" th:text="${dessert.getPrice()}">6.00</span>
                    <p th:text="${dessert.getDescription()}">Description of the dessert item.</p>
                    <form th:action="@{/cart/add}" method="post" th:object="${cartItem}" sec:authorize="isAuthenticated()">
                        <input type="hidden" name="productId" th:value="${dessert.getProductId()}" />
                        <input type="hidden" name="category"/>
                        <label for="dessert">Quantity:</label>
                        <input type="number" id="dessert" name="quantity" value="1" min="1" max="10"/>
                        <button type="submit" class="btn btn-info">Add to Cart</button>
                    </form>
                </div>
            </div>
            </div>

            <div class="menu-items">
            <div class="menu-item pizza" th:each="pizza : ${pizzaProducts}">
                <img th:src="@{${pizza.getImageUrl()}}" class="menu-img" alt="Pizza Item">
                <div class="menu-info">
                    <h5 th:text="${pizza.getName()}">Pizza Item Name</h5>
                    <span class="price" th:text="${pizza.getPrice()}">12.00</span>
                    <p th:text="${pizza.getDescription()}">Description of the dessert item.</p>
                    <form th:action="@{/cart/add}" method="post" th:object="${cartItem}" sec:authorize="isAuthenticated()">
                        <input type="hidden" name="productId" th:value="${pizza.getProductId()}" />
                        <input type="hidden" name="category"/>
                        <label for="pizza">Quantity:</label>
                        <input type="number" id="pizza" name="quantity" value="1" min="1" max="10"/>
                        <button type="submit" class="btn btn-info">Add to Cart</button>
                    </form>
            </div>
        </div>
            </div>


        </section>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
    $(document).ready(function(){
        var urlParams = new URLSearchParams(window.location.search);
        var categoryParam = urlParams.get('category');

        $('.menu-categories button').removeClass('active');
        if (categoryParam) {
            $('.menu-categories button[data-filter=".' + categoryParam + '"]').addClass('active');
        }

        if(categoryParam == "*" || !categoryParam) {
            $('.menu-item').show();
        } else {
            $('.menu-item').hide();
            $('.menu-item.' + categoryParam).show();
        }

        $('.menu-categories button').click(function(){
            var filterValue = $(this).attr('data-filter');


            var categoryFromButton = filterValue ? filterValue.substr(1) : "";

            var newUrl = window.location.pathname + '?category=' + categoryFromButton;
            window.history.pushState({path:newUrl},'',newUrl);


            if(categoryFromButton == "*" || !categoryFromButton) {
                $('.menu-item').show();
            } else {
                $('.menu-item').hide();
                $('.menu-item.' + categoryFromButton).show();
            }


            $('.menu-categories button').removeClass('active');
            $(this).addClass('active');
            $('input[name="category"]').val(categoryFromButton);
            console.log(categoryFromButton);
            console.log("categoryParam");
        });
    });
</script>

</body>
</html>
