<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <title>Orders List</title>

</head>

<body>
<th:block th:insert="~{fragments/navbar}"></th:block>
<br>
<div class="container mt-5">
  <h2>Orders List</h2>
  <table class="table mt-3">
    <thead>
    <tr>
      <th>Username</th>
      <th>Phone Number</th>
      <th>Date and Time</th>
      <th>Delivery address</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody th:each="order : ${allOrders}">
    <tr th:object="${order}">
      <td th:text="${order.getUserEmail()}">Jane Smith</td>
      <td th:text="${order.getPhoneNumber()}">987-654-3210</td>
      <td th:text="${order.getOrderDateTime()}">2023-01-02 6:30 PM</td>
      <td th:text="${order.getDeliveryAddress()}">Hristo Smirnenski</td>
      <td>
        <a th:href="@{/admin/orders/approve/{orderId}(orderId=*{orderId})}">
          <button type="submit" class="btn btn-info btn-sm">Approve</button>
        </a>
        <a th:href="@{/admin/orders/{orderId}/details(orderId=*{orderId})}">
          <button type="submit" class="btn btn-info btn-sm">Details</button>
        </a>
        <form
                th:object="${order}"
                th:action="@{/admin/orders/delete/{id}/{userId}(id=*{orderId},userId=*{userId})}"
                th:method="delete"
        >
          <input class="btn btn-danger btn-sm" type="submit" value="Delete">
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
