<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <link rel="stylesheet" href="/css/shopping-cart.css">
</head>
<body>
<th:block th:insert="~{fragments/navbar}"></th:block>
<br>
<div class="container mt-5">
  <h2>Shopping Cart</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody th:object="${items}">
    <tr th:each="i : ${items}">
      <td>
        <img  th:src="@{${i.getProductImageUrl()}}" alt="Product 1" class="img-thumbnail img-thumbnail-custom"
        th:text="${i.getProductName()}">
      </td>
      <td th:text="${i.getProductPrice()}">$20.00</td>
      <td>
        <div th:text="${i.getQuantity()}"></div>
      </td>
      <td th:text="${i.getTotalPrice()}">$20.00</td>
      <td>
        <form th:action="@{/cart/delete/{id}(id=${i.getCartItemId()})}" th:method="delete">
        <button type="submit" class="btn btn-danger">Remove</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="text-right">
    <h4 th:text="|Total: ${shoppingCartTotalPrice}|">Total: $50.00</h4>
    <form th:action="@{/cart/delete/all}" th:method="delete">
      <button type="submit" class="btn btn-danger">Remove All</button>
    </form>
    <button class="btn btn-primary">Checkout</button>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
